mat-card {
    text-align: center;
}
mat-card-header {
    flex-direction: column; 
}
mat-card-content {
    padding: 10px;
}
mat-card-actions {
    justify-content: center; 
    margin-bottom: 10px; 
}
.form {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

@media (max-width: 650px) { 
    .form { 
        grid-template-columns: repeat(1, 1fr);
        padding: 0px; 
    }
}