
<div class="main">
    <div class="user-info">
        
        <app-user-info [user]="user">
        </app-user-info>

        <mat-card class="fav-container">
                
            <mat-card-header>
                <h2>Favorites</h2>
            </mat-card-header>

            <mat-card-content>
                <div *ngIf="favs.length > 0; else noFavorites" class="favorites-array">
                        <app-song-card
                            *ngFor="let song of songs"
                            [song]=song
                            [isFavorite]=isFavorite
                            [user]=user
                            [favs]=favs
                            (songUnfavorited)="removeFromFavorites($event)"
                        >

                        </app-song-card>
                </div>

                <ng-template #noFavorites>
                    <p>You have no favorite songs yet!</p>
                </ng-template>
            </mat-card-content>

        </mat-card>

    </div>
    <div class="update-user">
        <app-user-update-form [user]="user" (userUpdated)="handleUserUpdate()"></app-user-update-form>
    </div>
    
    <mat-card class="delete-user">
        <mat-card-header><h2>Delete your account</h2></mat-card-header>
        <mat-card-actions class="make-them-stay">
            <button
            mat-raised-button
            color="warn"
            (click)="openDeleteDialog()"
            >
                Delete account
            </button>
        </mat-card-actions>
    </mat-card>
</div>
