.main {
    padding: 25px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    
}
mat-card {
    text-align: center;
    // width: 50%;
    margin: auto; 
}
mat-card-header {
    flex-direction: column; 
}
.user-info {
    padding-bottom: 50px;
}
.favorites-array {
    display: flex; 
    overflow-x: auto; 
    gap: 16px;
    scroll-behavior: smooth;
}
.fav-container {
    margin: 10px; 
}
.update-user {
    padding-bottom: 50px;
    margin: auto; 
    width: 85%;
}
.delete-user {
    margin: auto; 
}
.make-them-stay {
    justify-content: center;
    margin-bottom: 10px;
}