mat-card {
    text-align: center;
    width: 50%; 
    margin: auto; 
}
mat-card-header {
    flex-direction: column; 
}
mat-card-content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-emphasis: wrap;
}
mat-card-content p {
    margin-right: 10px; 
}
.info-key {
    font-weight: bold;  
}

@media screen and (max-width: 550px){
    mat-card {
        display: flex; 
        width: 85%;  
    }
}