<div class="user-card">
    <mat-card *ngIf="user">

        <mat-card-header>
            <mat-card-title>
                    <h2>Account Details</h2>
            </mat-card-title>
            
        </mat-card-header>

        <mat-card-content>
            <div>
                <p class="info-key">Username: </p>
                <p>{{user.Username}}</p>
            </div>
            <div>
                <p class="info-key">Email: </p>
                <p>{{user.Email}}</p>
            </div>
            <div>
                <p class="info-key">Birthday: </p>
                <p>{{user.Birthday}}</p>
            </div>

        </mat-card-content>

    </mat-card>
</div>
