.song-display {
    display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      padding: 25px;
      margin: auto; 
      width: 100%;
      box-sizing: border-box;
  }
  
  @media (max-width: 1300px) {
      .song-display {
        grid-template-columns: repeat(3, 1fr); 
      }
    }
    
    @media (max-width: 1000px) {
      .song-display {
        grid-template-columns: repeat(2, 1fr); 
      }
    }
    
    @media (max-width: 675px) {
      .song-display {
        grid-template-columns: 1fr; 
      }
    }


    